PytorchPractice/.idea
PytorchPractice/__pycache__
PytorchPractice/quick_start/data
PytorchPractice/quick_start/__pycache__
DiveIntoDeepLearning/.idea
DiveIntoDeepLearning/data
DiveIntoDeepLearning/LibDL/__pycache__
DiveIntoDeepLearning/linear_networks/.ipynb_checkpoints
DiveIntoDeepLearning/multilayer-perceptrons/.ipynb_checkpoints
.idea
PytorchPractice/data
OptimizationAlgorithms/.ipynb_checkpoints
